@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400&display=swap');

body {
    margin: 0px;
    background-image: url("Bakgrunnsbilde.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Grid system */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

header {
    grid-area: header;
    margin: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column ;
}

header h1 {
    color: #5CDB95;
    font-size: large;
}

header img{
    width: 280px;
    height: auto;
}

main {
    grid-area: main;
    background-color: whitesmoke;
}

footer {
    grid-area: footer;
    margin: 40px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
}

@media (max-width: 855px) {
    nav ul li a {
        display: block;
        margin: auto;
      }
  }

/* Navigation Bar */

nav {
    grid-area: nav;
    padding: 40px 60px;
    margin: auto;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: larger;
    margin: 15px;
    padding: 8px 5px;
}

nav ul li .active {
    border-bottom-style: solid;
}

nav ul li a:hover {
    color: rgb(179, 179, 179);
}

nav ul li a i {
    padding-right: 6px;
}

.button {
    background-color: #5CDB95;
    padding: 14px 25px;
    border-radius: 5px;
    color: #000000;
}

.active {
    color: #5CDB95;
}

/* Main content */

/* Footer content */

.footer-grid {
    color: white;
}

.footer-grid h2 {
    color:#5CDB95;
    font-size: larger;
}

.footer-grid a {
    text-decoration: none;
    color: white;
    font-size: 0.8vw;
    display: flex;
}

.footer-grid a:hover {
    color:#5CDB95;
}

/*Logo and social media center*/

.footer-social-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-social-section a {
    text-decoration: none;
}

.footer-social-section img {
    max-width: 7vw;
    height: auto;
}

.social-media-button button{
    border: none;
    cursor: pointer;
    background: none;
    color: #5CDB95;
    font-size: 25px;
    margin-top: 10px;
}

.footer-social-section button:hover {
    color: white;
} 
/* Background color opacity */

#black-background {
    background: #000000;
    opacity: 85%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
