body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Header/Hero image */
header {
    background-color: whitesmoke;
}

header h1 {
    margin: 25px 0 0;
    padding: 0;
    font-size: 6vw;
    font-weight: 800;
    color: #191923;
}


.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hero-text {
    z-index: 2;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-width: 20px;
}

.hero-image {
    margin-top: 75px;
    height: auto;
    width: 35%;
    z-index: 3;
    position: static;
}


/* Navigation bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

nav img {
    width: 6vw;
    height: auto;
    filter: invert(1);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    padding: 12px 20px;
    color: #191923;
    font-weight: 800;
    font-size: 20px;
    border-radius: 10px;
}

nav ul li a:hover {
    color: white;
    background-color: #191923;
}

nav ul li a i {
    padding-right: 6px;
}

/* Main Content */

main {
    position: relative;
    z-index: 3;
}

button {
    border: none;
    background-color: #191923;
    padding: 15px 20px;
    border-radius: 17px;
}

button a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.3vw;

}

iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}

main section article h2 {
    padding: 0;
    margin: 0;
    font-size: 4vw;
}

.video-max-width {
    max-width: 500px;
}
.video-aspect-ratio {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.test {
    margin: 80px;
    color: white;
    opacity: 85%;
}

.test2 {
    margin: 80px;
    color: #191923;
}

.flex-container-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }

  .flex-item-1 {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }


.flex-item-2 {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
  }

.background-gradient {
    background: #de6161; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #de6161, #2657eb); /* fallback for old browsers */
    background-image: linear-gradient(to right, #de6161 , #2657eb);
}

.background-color {
    background-color: whitesmoke;
    overflow: hidden;
}

/* Code from https://www.shapedivider.app/ */
.wave-divider {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 31px;
}

.wave-divider .shape-fill {
    fill: whitesmoke;
}


.wave-divider-2 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-divider-2 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 72px;
}

.wave-divider-2 .shape-fill {
    fill: whitesmoke;
}

/* Footer */

footer {
    background-color: #191923;
    overflow: hidden;
}