@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400&display=swap');

body {
    margin: 0px;
    background-image: url("Bakgrunnsbilde.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Grid system */

.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

header {
    grid-area: header;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

header img{
    width: 15%;
    height: auto;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

@media (max-width: 850px) {
    .gridContainer {
      grid-template-areas:
        "nav"
        "header"   
        "main"
        "footer";
      grid-template-columns: 1fr;
    }
    li a {
        display: block;
        padding: 8px;
      }
    
  }

/* end */

/* Navigation Bar */

nav {
    grid-area: nav;
    padding: 40px 60px;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
    margin: 15px;
    padding: 8px 5px;
}

.button {
    background-color: #5CDB95;
    padding: 14px 25px;
    border-radius: 5px;
    color: #000000;
}

.active {
    color: #5CDB95;
}

i {
    padding-right: 6px;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline;
}

/* Code from https://www.geeksforgeeks.org/how-to-set-the-gap-between-text-and-underlining-using-css/, underline for navbar */
nav ul li .active {
    padding-bottom: value;
    border-bottom-style: solid;
}

li a:hover {
    color: rgb(179, 179, 179);
  }
/* end */

/* Main content */
.textBox {
    background-color: #EEEEEE;
}

h1 { 
    margin-top: 0;
}

/* end */

/* Footer content */

.bottomText {
    color: rgb(255, 255, 255);
    
}

/* end */

#blackBackground {
    background: #000000;
    opacity: 85%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
